<h1>Nizar's T-Shirt Store</h1>

<p>Our amazing products are:</p>

<ul>
  <% @shirts.each_with_index do |tshirt, i| %>
    <li>
      <a href="/tshirts/<%= i + 1 %>">
        <%= tshirt %>
      </a>
    </li>
  <% end %>
</ul>
